<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".fbx" mimeType="application/fbx" />
            <!--mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".3ds" mimeType="application/3ds" />
            <mimeMap fileExtension=".obj" mimeType="application/obj" /-->
        </staticContent>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
